---
import Layout from '../layouts/Layout.astro';
import Anamnese from '@/components/Anamnese.svelte';
---

<Layout title="Satiluz - Anamnese">
	<main class="container">
		<h1 class="pb-2 border-bottom mb-5">👀 Anamnese</h1>
		<Anamnese />
	</main>
</Layout>

<style lang="scss">
</style>
