---
import Layout from "@/layouts/Layout.astro";
---


<Layout title="Satiluz - Pacientes">
	<main class="container">
		<h1>👥 Pacientes</h1>
		<table class='table'>
			<thead>
				<th>#</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Ações</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Thiago Corbalan</td>
					<td>contato@thiagocorbalan.com.br</td>
					<td>
						<a href="/anamnese/editar">editar</a>
						<a href="/anamnese/editar">histórico</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</Layout>

<style>
</style>
